extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quis repellendus animi neque placeat exercitationem soluta perferendis, tempore voluptatem sapiente, consequatur quos similique totam atque libero itaque earum recusandae maxime!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eligendi reiciendis quod sit beatae dignissimos, eos dolore numquam obcaecati quas, iusto adipisci, maiores expedita et animi consequuntur. Quidem, dolor! Consectetur?
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto est in facilis molestiae.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit.